<%= form_with(model: starship_roster, local: true) do |form| %>
  <% if starship_roster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(starship_roster.errors.count, "error") %> prohibited this starship_roster from being saved:</h2>

      <ul>
      <% starship_roster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :personnel %>
    <%= form.collection_select :personnel_id, Personnel.all, :id, :name, {prompt: true} %>
  </div>

  <div class="field">
    <%= form.label :starship %>
    <%= form.collection_select :starship_id, Starship.all, :id, :name, {prompt: true} %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.text_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.text_field :end_date %>
  </div>

  <div class="field">
    <%= form.label :reason %>
    <%= form.text_field :reason %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
