<%= form_with(model: personnel, local: true) do |form| %>
  <% if personnel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(personnel.errors.count, "error") %> prohibited this personnel from being saved:</h2>

      <ul>
      <% personnel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div class="field">
    <%= form.label :species %>
    <%= form.text_field :species %>
  </div>

  <div class="field">
    <%= form.label :affiliation %>
    <%= form.text_field :affiliation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
